.container {
    width: 100%;
    height: auto;
    /* display: block;
    justify-content: center; 
    align-items: center;
    overflow: hidden;  */
  }
  
  .bloc1 {
    background-size: cover;
    background-position: center;
    width: 100%;  
    height: 100vh;  
    margin-bottom: 0.5rem;
  }

  .bloc2 {
    background-size: cover;
    background-position: center;
    width: 100%; 
    height: 100vh;
    margin-bottom: 0.5rem;
  }

  .bloc3 {
    background-size: cover;
    background-position: center;
    width: 100%; 
    height: 100vh;
    margin-bottom: 0.5rem;
  }

  