/* .navbar-brand {
  display: flex;
  align-items: center;
} */

.navbar-brand img {
  margin-right: 10px;
}

.vertical-bar {
  width: 1px;
  height: 26px; /* Match the height of the image */
  background-color: #000; /* Black color for the bar */
  margin: 0 10px; /* Space around the bar */
}

.navbar-brand span {
  font-size: 14px;
  color: #000;
}

.nav-item {
  margin-bottom: 10px; 
}

.hr1 {
  margin-top: 5px;
}